<ion-header>
  <ion-navbar>
    <ion-title>
      Incoming Orders
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="fetchdata; else elseTemplate"> <!-- If data exists-->
    <div *ngFor="let order of successData; let i = index">
        <ion-card>
            <ion-card-content>
                <div class="card">
                    <div class="card_content">
                        <h6>Gajendra {{ i }}</h6>
                        <h6 class="address">24, Eastwood Grange, Hexham, NE46 1UE</h6>
                        <div class="menu_bar" *ngFor="let menu of getArrayValue(order)">
                          <span class="menu_title">{{ menu.name }}</span>
                          <span class="menu_quantity">{{ menu.quantity }}</span>
                          <span class="menu_price">{{ menu.price }}</span>
                        </div>
                    </div>
                    <div class="menu_total">
                        <span class="span1"><b>Sub Total</b></span>
                        <span class="spacer">&nbsp;</span>
                        <span class="span2"><b>{{ order.s_total }}</b></span>
                        <span class="span1">Delivery & Charges</span>
                        <span class="spacer">&nbsp;</span>
                        <span class="span2">{{ order.del_charge + order.ser_charge }}</span>
                        <span class="span1"><b>Total</b></span>
                        <span class="spacer">&nbsp;</span>
                        <span class="span2"><b>{{ order.total }}</b></span>
                    </div>
                    <div class="card_button">
                        <button ion-button class="card_button_accept" color="secondary">Accept</button>
                        <button ion-button class="card_button_reject" color="danger">Reject</button>
                    </div>
                  </div>
            </ion-card-content>
          </ion-card>
    </div>
  </ng-container>
  <ng-template #elseTemplate><!-- If data doesntexists-->
    
  </ng-template>
</ion-content>
